## Buddy Bass Fishing Tournament

Dataset:
The dataset I'll use is an excel spreadsheet with data collected from the weekly fishing tournament.

### Importing the Data

This is where I import any needed Python libraries and all datasets I'll use in the notebook.

In [35]:
# Import libraries
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import time

# Import data file
buddy_bass = pd.read_excel("data/Buddy Bass Weekly Tournament 2020.xlsx")

### Exploring the Imported Data

.head() returns the first 5 rows

In [36]:
# Display first 5 rows
buddy_bass.head()

,Date,Number of Boats,Total No. of Fish Caught,Total Weight in Pounds,Big Fish (lbs),Avg Water Temp
0,2020-06-24,29.0,49.0,69.80,4.32,75.2
1,2020-07-01,33.0,61.0,42.20,5.26,76.8
2,2020-07-08,26.0,50.0,92.20,4.50,76.8
3,2020-07-15,29.0,54.0,90.31,4.26,78.5
4,2020-07-22,32.0,48.0,52.94,5.36,80.4

.info() shows information about the columns including data type and number of missing values

In [37]:
# Display information about the columns
buddy_bass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      11 non-null     datetime64[ns]
 1   Number of Boats           11 non-null     float64
 2   Total No. of Fish Caught  11 non-null     float64
 3   Total Weight in Pounds    11 non-null     float64
 4   Big Fish (lbs)            11 non-null     float64
 5   Avg Water Temp            11 non-null     float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 656.0 bytes

.shape returns the number of rows and columns

In [38]:
# Return the number of rows and columns in the data
buddy_bass.shape

(11, 6)

.describe() calculates summary statistics for each column

In [39]:
# Display a summary of statistics calculated for each column
buddy_bass.describe()

,Number of Boats,Total No. of Fish Caught,Total Weight in Pounds,Big Fish (lbs),Avg Water Temp
count,11.000000,11.000000,11.000000,11.000000,11.000000
mean,30.272727,54.272727,67.322727,4.220000,80.518182
std,3.068906,14.886846,16.734061,1.009911,3.602171
min,26.000000,33.000000,42.200000,2.340000,75.200000
25%,28.500000,48.500000,54.160000,3.810000,77.650000
50%,30.000000,54.000000,68.780000,4.320000,80.400000
75%,31.500000,59.500000,78.230000,4.880000,83.300000
max,37.000000,84.000000,92.200000,5.440000,85.300000

.values creates a 2D NumPy array of values

In [40]:
# Create a 2D NumPy array of values
buddy_bass.values

array([[Timestamp('2020-06-24 00:00:00'), 29.0, 49.0, 69.8, 4.32, 75.2],
       [Timestamp('2020-07-01 00:00:00'), 33.0, 61.0, 42.2, 5.26, 76.8],
       [Timestamp('2020-07-08 00:00:00'), 26.0, 50.0, 92.2, 4.5, 76.8],
       [Timestamp('2020-07-15 00:00:00'), 29.0, 54.0, 90.31, 4.26, 78.5],
       [Timestamp('2020-07-22 00:00:00'), 32.0, 48.0, 52.94, 5.36, 80.4],
       [Timestamp('2020-07-29 00:00:00'), 31.0, 56.0, 68.78, 3.36, 82.0],
       [Timestamp('2020-08-05 00:00:00'), 37.0, 71.0, 65.74, 5.44, 82.0],
       [Timestamp('2020-08-12 00:00:00'), 31.0, 33.0, 46.74, 2.34, 84.6],
       [Timestamp('2020-08-19 00:00:00'), 28.0, 58.0, 55.38, 4.46, 85.3],
       [Timestamp('2020-08-26 00:00:00'), 30.0, 33.0, 78.23, 2.84, 85.3],
       [Timestamp('2020-09-13 00:00:00'), 27.0, 84.0, 78.23, 4.28, 78.8]],
      dtype=object)

.columns creates an index of the column names

In [41]:
# Creates an index of the column names
buddy_bass.columns

Index(['Date', 'Number of Boats', 'Total No. of Fish Caught',
       'Total Weight in Pounds', 'Big Fish (lbs)', 'Avg Water Temp'],
      dtype='object')

.index creates an index of the rows, either the row numbers or row names

In [42]:
buddy_bass.index

RangeIndex(start=0, stop=11, step=1)

In [43]:
buddy_bass.sort_values("")

KeyError: ''

In [ ]:
buddy_bass[["Number of Boats", "Total No. of Fish Caught"]]

    Number of Boats  Total No. of Fish Caught
0              29.0                      49.0
1              33.0                      61.0
2              26.0                      50.0
3              29.0                      54.0
4              32.0                      48.0
5              31.0                      56.0
6              37.0                      71.0
7              31.0                      33.0
8              28.0                      58.0
9              30.0                      33.0
10             27.0                      84.0

In [ ]:
buddy_bass[buddy_bass["Number of Boats"] < 30]

,Date,Number of Boats,Total No. of Fish Caught,Total Weight in Pounds,Big Fish (lbs),Avg Water Temp
0,2020-06-24,29.0,49.0,69.80,4.32,75.2
2,2020-07-08,26.0,50.0,92.20,4.50,76.8
3,2020-07-15,29.0,54.0,90.31,4.26,78.5
8,2020-08-19,28.0,58.0,55.38,4.46,85.3
10,2020-09-13,27.0,84.0,78.23,4.28,78.8

In [ ]:
# Definte an empty list
colors = []

# Iterate over rows of buddy_bass
for lab, row in buddy_bass.interrows(buddy_bass["Date"]) :
    if row["Date"] == "2020-06" :
        colors.append("blue")
    else:
        colors.append["purple"]

TypeError: cannot unpack non-iterable Timestamp object

In [ ]:
for lab, row in buddy_bass.iterrows():
    print(lab)
    print(row)

0
Date                        2020-06-24 00:00:00
Number of Boats                            29.0
Total No. of Fish Caught                   49.0
Total Weight in Pounds                     69.8
Big Fish (lbs)                             4.32
Avg Water Temp                             75.2
Name: 0, dtype: object
1
Date                        2020-07-01 00:00:00
Number of Boats                            33.0
Total No. of Fish Caught                   61.0
Total Weight in Pounds                     42.2
Big Fish (lbs)                             5.26
Avg Water Temp                             76.8
Name: 1, dtype: object
2
Date                        2020-07-08 00:00:00
Number of Boats                            26.0
Total No. of Fish Caught                   50.0
Total Weight in Pounds                     92.2
Big Fish (lbs)                              4.5
Avg Water Temp                             76.8
Name: 2, dtype: object
3
Date                        2020-07-15 00:00:00
Number of Boats                            29.0
Total No. of Fish Caught                   54.0
Total Weight in Pounds                    90.31
Big Fish (lbs)                             4.26
Avg Water Temp                             78.5
Name: 3, dtype: object
4
Date                        2020-07-22 00:00:00
Number of Boats                            32.0
Total No. of Fish Caught                   48.0
Total Weight in Pounds                    52.94
Big Fish (lbs)                             5.36
Avg Water Temp                             80.4
Name: 4, dtype: object
5
Date                        2020-07-29 00:00:00
Number of Boats                            31.0
Total No. of Fish Caught                   56.0
Total Weight in Pounds                    68.78
Big Fish (lbs)                             3.36
Avg Water Temp                             82.0
Name: 5, dtype: object
6
Date                        2020-08-05 00:00:00
Number of Boats                            37.0
Total No. of Fish Caught                   71.0
Total Weight in Pounds                    65.74
Big Fish (lbs)                             5.44
Avg Water Temp                             82.0
Name: 6, dtype: object
7
Date                        2020-08-12 00:00:00
Number of Boats                            31.0
Total No. of Fish Caught                   33.0
Total Weight in Pounds                    46.74
Big Fish (lbs)                             2.34
Avg Water Temp                             84.6
Name: 7, dtype: object
8
Date                        2020-08-19 00:00:00
Number of Boats                            28.0
Total No. of Fish Caught                   58.0
Total Weight in Pounds                    55.38
Big Fish (lbs)                             4.46
Avg Water Temp                             85.3
Name: 8, dtype: object
9
Date                        2020-08-26 00:00:00
Number of Boats                            30.0
Total No. of Fish Caught                   33.0
Total Weight in Pounds                    78.23
Big Fish (lbs)                             2.84
Avg Water Temp                             85.3
Name: 9, dtype: object
10
Date                        2020-09-13 00:00:00
Number of Boats                            27.0
Total No. of Fish Caught                   84.0
Total Weight in Pounds                    78.23
Big Fish (lbs)                             4.28
Avg Water Temp                             78.8
Name: 10, dtype: object

In [ ]:
buddy_bass["Total No. of Fish Caught"].median()

54.0

In [ ]:
buddy_bass["Date"].min()

Timestamp('2020-06-24 00:00:00')

In [50]:
buddy_bass[["Number of Boats", "Total No. of Fish Caught", "Total Weight in Pounds", "Big Fish (lbs)"]].median()

Number of Boats             30.00
Total No. of Fish Caught    54.00
Total Weight in Pounds      68.78
Big Fish (lbs)               4.32
dtype: float64

In [53]:
buddy_bass.groupby("Date")["Number of Boats"].mean()

Date
2020-06-24    29.0
2020-07-01    33.0
2020-07-08    26.0
2020-07-15    29.0
2020-07-22    32.0
2020-07-29    31.0
2020-08-05    37.0
2020-08-12    31.0
2020-08-19    28.0
2020-08-26    30.0
2020-09-13    27.0
Name: Number of Boats, dtype: float64