## Buddy Bass Fishing Tournament

Dataset:
The dataset I'll use is an excel spreadsheet with data collected from the weekly fishing tournament.

### Importing the Data

In [37]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

buddy_bass = pd.read_excel("data/Buddy Bass Tournament 2020.xlsx")

### Exploring the Imported Data

.head() returns the first 5 rows

In [38]:
buddy_bass.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Date,Number of Boats,Total No of Fish Caught,Total Weight in Pounds,Big Fish (LBS),Avg Water Temp
1,2020-06-24 00:00:00,29.0,49.0,69.8,4.32,75.2
2,2020-07-01 00:00:00,33.0,61.0,42.2,5.26,76.8
3,2020-07-08 00:00:00,26.0,50.0,92.2,4.5,76.8
4,2020-07-15 00:00:00,29.0,54.0,90.31,4.26,78.5

.info() shows information about the columns including data type and number of missing values

In [39]:
buddy_bass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12 non-null     object
 1   Unnamed: 1  12 non-null     object
 2   Unnamed: 2  12 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  12 non-null     object
 5   Unnamed: 5  12 non-null     object
dtypes: object(6)
memory usage: 704.0+ bytes

.shape returns the number of rows and columns

In [40]:
buddy_bass.shape

(12, 6)

.describe() calculates summary statistics for each column

In [41]:
buddy_bass.describe()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
count,12,12.0,12.0,12.00,12,12.0
unique,12,10.0,11.0,11.00,12,9.0
top,Date,29.0,33.0,78.23,Big Fish (LBS),76.8
freq,1,2.0,2.0,2.00,1,2.0

.values creates a 2D NumPy array of values

In [42]:
buddy_bass.values

array([['Date', 'Number of Boats', 'Total No of Fish Caught',
        'Total Weight in Pounds', 'Big Fish (LBS)', 'Avg Water Temp'],
       [datetime.datetime(2020, 6, 24, 0, 0), 29.0, 49.0, 69.8, 4.32,
        75.2],
       [datetime.datetime(2020, 7, 1, 0, 0), 33.0, 61.0, 42.2, 5.26,
        76.8],
       [datetime.datetime(2020, 7, 8, 0, 0), 26.0, 50.0, 92.2, 4.5, 76.8],
       [datetime.datetime(2020, 7, 15, 0, 0), 29.0, 54.0, 90.31, 4.26,
        78.5],
       [datetime.datetime(2020, 7, 22, 0, 0), 32.0, 48.0, 52.94, 5.36,
        80.4],
       [datetime.datetime(2020, 7, 29, 0, 0), 31.0, 56.0, 68.78, 3.36,
        82.0],
       [datetime.datetime(2020, 8, 5, 0, 0), 37.0, 71.0, 65.74, 5.44,
        82.0],
       [datetime.datetime(2020, 8, 12, 0, 0), 31.0, 33.0, 46.74, 2.34,
        84.6],
       [datetime.datetime(2020, 8, 19, 0, 0), 28.0, 58.0, 55.38, 4.46,
        85.3],
       [datetime.datetime(2020, 8, 26, 0, 0), 30.0, 33.0, 78.23, 2.84,
        85.3],
       [datetime.datetime(2020, 9, 13, 0, 0), 27.0, 84.0, 78.23, 4.28,
        78.8]], dtype=object)

.columns creates an index of the column names

In [43]:
buddy_bass.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5'],
      dtype='object')

.index creates an index of the rows, either the row numbers or row names

In [44]:
buddy_bass.index

RangeIndex(start=0, stop=12, step=1)