In [5]:
import pandas as pd
buddy_bass = pd.read_excel("data/Final Bass Tournament Totals 2019.xlsx")

In [4]:
buddy_bass.head()

,Bass Tournament Totals 2019,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Total No of Fish Caught,Total Weight in Pounds,Average Weight (LBS),Big Fish (LBS),Big Fish/Year (LBS)
2,2020-04-17 00:00:00,25,53.3,2.132,5.6,Wieda/Bayliche
3,2020-04-24 00:00:00,22,35.36,1.607273,5.14,NaN
4,2020-05-01 00:00:00,39,69.8,1.789744,5.56,NaN

In [6]:
buddy_bass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Bass Tournament Totals 2019  23 non-null     object
 1   Unnamed: 1                   21 non-null     object
 2   Unnamed: 2                   21 non-null     object
 3   Unnamed: 3                   21 non-null     object
 4   Unnamed: 4                   22 non-null     object
 5   Unnamed: 5                   2 non-null      object
dtypes: object(6)
memory usage: 1.3+ KB